
    <!-- Main Content -->
    <div class="container my-3">
      <div class="row">

        <div class="col-md-4 col-lg-3">
          <div class="card">
            <div class="card-body text-center">
              <img src="../img/user/user.svg" width="100" height="100" alt="User" class="rounded-circle mb-3">
              <h5 class="bold mb-0"><%= @user.firstname.capitalize %> <%= @user.lastname.upcase %></h5>
              <h6 class="bold mb-0">~ <%= @user.username.capitalize %> ~</h6></br>
              <small class="counter">Member since: <%=@user.created_at.strftime(" %d of %B %Y")%></small>
              <hr>
            </div>
            <div class="list-group list-group-flush">
              <a href="account-profile.html" class="list-group-item list-group-item-action active"><i class="fas fa-user mr-3"></i> Profile</a>
              <a href="account-orders.html" class="list-group-item list-group-item-action"><i class="fas fa-shopping-bag mr-3"></i> Orders</a>
              <a href="account-wishlist.html" class="list-group-item has-badge list-group-item-action"><i class="fas fa-heart mr-3"></i> Wishlist <span class="badge rounded badge-primary">2</span></a>
              <a href="account-address.html" class="list-group-item list-group-item-action"><i class="fas fa-map-signs mr-3"></i> Address</a>
              <a href="account-login.html" class="list-group-item list-group-item-action text-danger"><i class="fas fa-sign-out-alt mr-3"></i> Logout</a>
            </div>
          </div>
        </div>

        <div class="col mt-3 mt-md-0">
          <div class="card">
            <div class="card-body">
              <h3>My Profile</h3><hr>
              <form class="form-style-1">
                <div class="form-row">
                  <div class="form-group col-sm-6">
                    <label for="profileFirstName">First Name</label>
                    <input type="text" class="form-control" id="profileFirstName" value="<%= @user.firstname %>">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="profileLastName">Last Name</label>
                    <input type="text" class="form-control" id="profileLastName" value="<%= @user.lastname %>">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="profileEmail">Email address</label>
                    <input type="email" class="form-control" id="profileEmail" value="<%= @user.email %>">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="profilePhone">Username</label>
                    <input type="text" class="form-control" id="profilePhone" value="<%= @user.username %>">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="profileNewPassword">New Password</label>
                    <input type="password" class="form-control" id="profileNewPassword">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="profileConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="profileConfirmPassword">
                  </div>
                  <div class="form-group col-12">
                    <button type="button" class="btn btn-primary">UPDATE PROFILE</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /Main Content -->