<div class="container my-3">
  <div class="row">
    <div class="col mt-3 mt-md-0">
      <div class="card">
        <div class="card-body">
          <h3>ORD<%= @order.id %></h3><hr>
          <ul class="nav nav-pills main-nav-pills" role="tablist">
            <li class="nav-item">

              <div class="nav-link <%= @order.delivery_id >= 1 ? 'text-success' : 'text-muted' %>">
                <i class="fas fa-sync-alt"></i> EN COURS DE PREPARATION
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link disabled">&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-right"></i>&nbsp;&nbsp;&nbsp;</div>
            </li>
            <li class="nav-item">
              <div class="nav-link <%= @order.delivery_id >= 2 ? 'text-success' : 'text-muted' %>">
                <i class="fas fa-truck"></i> EN COURS D'ACHEMINEMENT
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link disabled">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </li>
            <li class="nav-item">
              <div class="nav-link <%= @order.delivery_id == 4 ? 'text-success' : 'text-muted' %>">
                <i class="far fa-check-circle"></i> LIVREE
              </div>
            </li>
          </ul>
          <hr>

          <table class="table table-borderless table-sm table-cart">
            <tbody>
              <% 
                linked_cart = Cart.where(order_id: @order.id)
                amount = linked_cart.map(&:total_per_item).instance_eval { reduce(:+) } 
              %>
              <% linked_cart.each do |item_in_cart| %>
                <% variant = Variant.find(item_in_cart.variant_id) %>
                <tr>
                  <td class="cart-img nostretch">
                    <%= link_to image_tag("item.jpg"), variant_path(variant.id) %> 
                  </td>
                  <td class="cart-title">
                    <%= link_to variant.title, variant_path(variant.id), class: "h6 bold d-inline-block", title: variant.title %>
                  </td>
                  <td class="cart-qty nostretch text-center"><%= item_in_cart.quantity %></td>
                  <td class="cart-price text-right"><span class="roboto-condensed bold">€ <%= variant.price %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-right">
            <table class="table table-borderless table-sm mb-5">
                <tbody>
                  <tr>
                    <td class="bold">TOTAL</td>
                    <td class="roboto-condensed bold text-success h5">€ <%= amount %></td>
                  </tr>
                </tbody>
              </table>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <h5 class="bold"><u>Adresse de livraison :</u></h5>
              <strong><%= current_user.fullname %></strong><br/>
              <%= current_user.email %><br/>
              <%= @order.address %>s<br/>
              <%= @order.zipcode %><br/>
              <%= @order.country %>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
              <h5 class="bold"><u>Methode de payment :</u></h5>
              <strong>Carte de crédit</strong>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <%= link_to my_profile_path, class: "btn btn-outline-primary btn-sm rounded-pill" do %>
              <i class="fas fa-arrow-left"></i> Retour
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Content -->