<p id="notice" class="text-success container"><%= notice %></p>

<div class="container-fluid">
<h1>Valeurs d'options</h1>

  <% Item.all.each do |product| %>
    <div class="container"><h3><%= product.title%></h3></div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Variante</th>
          <th scope="col">Ajouter Option</th>
          <th scope="col">Option#1</th>
          <th scope="col">Option#2</th>
          <th scope="col">Option#3</th>
          <th scope="col">Option#4</th>
          <th scope="col">Option#5</th>

        </tr>
      </thead>
      <tbody>

      <% Variant.where(item_id: product.id).each do |element| %>
        <tr>
          <th scope="row" class="align-middle"><%= element.title %></th>
            <td class="align-middle"><%= link_to "Nouvelle option", new_option_association_path(element), class: "btn btn-success btn-sm" %></td>
          <% @option_associations.where(variant_id: element.id).each do |association|%>
            <td class="align-middle">
              <divclass="align-middle"><%= Option.find(OptionValue.find(association.option_value_id).option_id).name %> : 
              <%= OptionValue.find(association.option_value_id).name%></div>
              <div><%= link_to 'Edit', edit_option_association_path(association), class: "btn btn-warning btn-sm" %> 
              <%= link_to 'Destroy', association, method: :delete, data: { confirm: 'Etes vous sûr ?' }, class: "btn btn-danger btn-sm" %></div>
            </td>
          <% end%>
        </tr>
      <% end%>

      </tbody>
    </table>
  <%end%>

</div>