<table class="table table-borderless table-cart" data-addclass-on-smdown="table-sm">
  <tbody>
        
  <% carts.order(:id).each do |cart| %>        
    <tr>
      <td class="cart-img nostretch">
        <%= link_to image_tag("item.jpg"), variant_path(Variant.find(cart.variant_id)) %>
      </td>
      <td class="cart-title">
        <%= link_to cart.variant.title, variant_path(Variant.find(cart.variant_id)), class: "h6 bold d-inline-block", title: cart.variant.title  %>
        <% if Variant.find(cart.variant_id).stock == 0 %>
          <div><span class="text-danger"><i class="fas fa-times-circle"></i></span> Indisponible</div> 
        <% else %>
          <div><span class="text-success"><i class="fas fa-check-circle"></i></span> Disponible </div>
        <% end %>
        <small><b>Prix</b>: <%= cart.variant.price%> €</small>
        
      </td>
      <td class="cart-qty nostretch text-center">
        <div class="spinner" data-addclass-on-smdown="spinner-sm wrap">
          <% if cart.quantity == 1 %>
            <%= link_to cart, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "btn btn-icon rounded-circle" do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% else %>
            <%= link_to removefromcart_path(cart.id), method: "get", class: "btn btn-icon rounded-circle" do %>
              <i class="fas fa-minus"></i>
            <% end %>
          <% end %>
          <input type="number" class="form-control" value="<%= cart.quantity %>" min="1" max="999">
          <%= link_to addtocart_path(cart.id), method: "get", class: "btn btn-icon rounded-circle" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
      </td>
      <td class="cart-price text-right">
        <span class="roboto-condensed bold"><% subtotal = cart.quantity*cart.variant.price %><%= subtotal %> €</span>
      </td>
      <td class="cart-action nostretch pr-0">
        <div class="dropdown">
          <%= link_to "javascript:void(0)", :class => "nav-icon text-secondary dropdown-toggle", :data => {:toggle => "dropdown"}, :role =>'button', :aria => {:haspopup => "true", :expanded => "false"} do %>
            <i class="fas fa-angle-down"></i>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item text collapse" style="text-decoration:none;" type="button"><i class="fas fa-heart"></i> <%= link_to 'Plus tard (wishlist)', wishlists_path(user_id: cart.user.id, variant_id: cart.variant.id), method: :create %></button>
            <button class="dropdown-item text-danger" type="button"> <i class="fas fa-times"></i> <%= link_to 'Enlever', cart, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "text-danger" %></button>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
    
  </tbody>
</table>
<div class="text-center">
  <small class="counter">TOTAL</small>
  <h3 class="roboto-condensed bold"><%= total %> €</h3>
  <a id="btn_shipping" class="btn btn-primary rounded-pill btn-lg text-white"><i class="fas fa-long-arrow-alt-right"></i> LIVRAISON</a>
</div>