    <div class="container my-3 my-sm-5">
       <div class="row justify-content-center" id="row-reset">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-login">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div><%= render "devise/shared/error_messages", resource: resource %></div>
                    <div class="form-style-1">
                      <div class="form-group text-center mb-2 ">
                        <h2 class="bold mb-0">Log In</h2>
                        <em>to your account</em>
                      </div>
                      <div class="form-group input-icon">
                        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email adress"%>
                      </div>
                      <div class="form-group input-icon">
                        <%= f.password_field :password, autocomplete: "password", class: "form-control", placeholder: "Password"%>
                      </div>
                      <% if devise_mapping.rememberable? %>
                        <div class="form-group d-flex justify-content-between">
                          <div class="custom-control custom-checkbox">
                            <%= f.check_box :remember_me, class: "custom-control-input", type: "checkbox", id: "loginRemember" %>
                            <label class="custom-control-label" for="loginRemember">Remember me</label>
                          </div>
                          <u><%= link_to "Forgot your password?", new_password_path(:user), class: "text-primary small reset" %></u>
                        </div>
                      <% end %>
                      <%= f.submit "LOGIN", class: "btn btn-primary btn-block"%>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




