<% rating = item.review_average %>

<div class="card card-product">
  <div class="card-header">
    <div class="row d-flex justify-content-between">
      <div class="col-6">
        <%= link_to raw("<i class=\"fas fa-tag\"></i> #{Category.find(item.category_id).name}"), variants_path(:category => Category.find(item.category_id).name), method: "get" %> 
      </div>
      <div class="col-6 rating-stars text-warning">
        <% rating.to_i.times do %>
          <i class="fas fa-star"></i>
        <% end %> 
        <% (5-rating.to_i).times do %>
          <i class="far fa-star"></i>
        <% end %> 
      </div>
    </div>
  </div>
  <div class="card-body p-0 mb-3">
    <div class="card zoom-hover">
      <a class="navbar-brand mr-1" href="<%= variant_path(variant.id) %>"><%= image_tag "item.jpg", :class => "w-100" %></a>
    </div>
    <h5 class="card-title"><%= variant.title %></h5>
    <div class="price"><span class="h5">€ <%= variant.price %> </span></div>
    <div>
      <% if variant.stock == 0 %>
        <div><span class="text-danger"><i class="fas fa-times-circle"></i></span> Indisponible</div> 
      <% else %>
        <div><span class="text-success"><i class="fas fa-check-circle"></i></span> Disponible </div>
      <% end %>
      <div class="row d-flex justify-content-center">
        <div>
          <%= form_for Wishlist.new do |f| %>
            <%= f.hidden_field :variant_id, :value => variant.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= button_tag(class: "btn btn-icon rounded-circle") do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        </div>
        <% if variant.stock != 0 %>
          <div class="ml-3">
            <% if user_signed_in? %>
              <% if Cart.where(user_id: current_user.id).where(order_id: nil).map(&:variant_id).include?(variant.id) %> 
                <%= link_to raw("<i class=\"fas fa-cart-plus\"></i>"), addtocart_path(Cart.where(user_id: current_user.id).where(order_id: nil).where(variant_id: variant.id).ids), method: "get", class: "btn btn-icon rounded-circle" %> 
              <% else %>  
                <%= form_for Cart.new do |f| %>
                  <%= f.hidden_field :variant_id, :value => variant.id %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= button_tag(class: "btn btn-icon rounded-circle") do %>
                    <i class="fas fa-cart-plus"></i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-header py-1">
    <div class="row">
      <a class="col-3" href="#"><%= image_tag("default_avatar.svg", :style => "width:28px;height:28px;border-radius:50%;") %></a>
      <div class="col-9">
        <a class="row text-info" href="#"><small>Posted by: <b><%= User.find_by_id(item.author_id).fullname %></b></small></a>
        <div class="row"><small class="text-sm"><i class="far fa-clock"></i> <%= item.created_at.strftime("%B %d, %Y") %></small></div>
      </div>
    </div> 
  </div>
</div>