<% rating = item.review_average %>
<div class="col-md-6">
  <div class="swiper-container" id="product-slider">
    <div class="swiper-wrapper">
      <% $pix = ["https://image.noelshack.com/fichiers/2019/12/5/1553285219-clogs-968486-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-craft-920393-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-pottery-3023901-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-yarn-1325766-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-clogs-968486-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-sew-3490492-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-pitcher-2320354-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-china-1515579-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-shell-921124-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-embroidery-3524900-960-720.jpg"]%>
      <%= image_tag $pix.sample, :class => "swiper-slide w-100", :size => '440x290' %>
    </div>
  </div>
</div>
<div class="col-md-6 mt-3 mt-md-0 mt-3">
  <div class="row d-flex justify-content-between">
    <div><h3 class="card-title"><%= variant.title %></h3></div>
    <div class="mr-3"><i class="fas fa-tag"></i> <%= Category.find(item.category_id).name %></div>
  </div>
  <h6>
  	<span class="rating" data-value="<%= rating %>"></span>
    <a><%= Review.where(item_id: item.id).size %> reviews</a>
  </h6>
  <h3 class="price">
    <span ><%= variant.price %> €</span>
  </h3>
  <p class="d-none d-lg-block"><%= item.description.split("\n\n", 2)[0] %></p>

  <div class="form-group col-6">
    <% if variant.stock == 0 %>
      <div><span class="text-danger"><i class="fas fa-times-circle"></i></span> Indisponible</div> 
    <% else %>
      <div><span class="text-success"><i class="fas fa-check-circle"></i></span> Disponible </div>
    <% end %>
  </div>
  <div class="row d-flex justify-content-center">
    <%= form_for Wishlist.new do |f| %>
      <%= f.hidden_field :variant_id, :value => variant.id %>
      <%= button_tag(class: "btn btn-primary btn-block rounded-pill") do %>
        <i class="far fa-heart"></i> Ajouter à la wishlist
      <% end %>
    <% end %>
    <% if variant.stock != 0 %>
      <div class="ml-3">
        <% if user_signed_in? %>
          <% if Cart.where(user_id: current_user.id).where(order_id: nil).map(&:variant_id).include?(variant.id) %> 
            <%= link_to addtocart_path(Cart.where(user_id: current_user.id).where(order_id: nil).where(variant_id: variant.id).ids), method: "get", class: "btn btn-primary btn-block rounded-pill" do %>
              <i class="fas fa-cart-plus"></i> Ajouter au panier
            <% end %>
          <% else %>
            <%= form_for Cart.new do |f| %>
              <%= f.hidden_field :variant_id, :value => variant.id %>
              <%= button_tag(class: "btn btn-primary btn-block rounded-pill") do %>
                <i class="fas fa-cart-plus"></i> Ajouter au panier
              <% end %>
            <% end %>
          <% end %> 
        <% else %> 
          <%= form_for Cart.new do |f| %>
            <%= f.hidden_field :variant_id, :value => variant.id %>
            <%= button_tag(class: "btn btn-primary btn-block rounded-pill") do %>
              <i class="fas fa-cart-plus"></i> Ajouter au panier
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


