<% rating = item.review_average %>

<div class="col-md-6">
  <div class="swiper-container" id="product-slider">
    <div class="swiper-wrapper">
      <%= image_tag "item.jpg", :class => "swiper-slide w-100" %>
    </div>
  </div>
</div>
<div class="col-md-6 mt-3 mt-md-0 mt-3">
  <div class="row d-flex justify-content-between">
    <div><h3 class="card-title"><%= variant.title %></h3></div>
    <div class="mr-3"><i class="fas fa-tag"></i> <%= Category.find(item.category_id).name %></div>
  </div>
  <h6>
  	<span class="rating" data-value="<%= rating %>"></span>
    <a href="javascript:void(0)"><%= Review.where(item_id: item.id).size %> reviews</a>
  </h6>
  <h3 class="price">
    <span >$<%= variant.price %></span>
  </h3>
  <p class="d-none d-lg-block"><%= item.description.split("\n\n", 2)[0] %></p>
  
  <form>
    <div class="form-row">

      

        <% if variant.stock == 0 %>
          <div class="form-group col-6">
            <div><span class="text-danger"><i class="fas fa-times-circle"></i></span> Indisponible</div> 
          </div>
        <%else%>
          <div class="form-group col-6">
            <div><span class="text-success"><i class="fas fa-check-circle"></i></span> Disponible </div>
              <label class="bold">Quantity : </label>
            <div class="w-100 spinner">
              <button type="button" class="btn btn-icon rounded-circle"><i class="fas fa-minus"></i></button>
                <input type="number" class="form-control" value="1" min="1" max="999">
              <button type="button" class="btn btn-icon rounded-circle"><i class="fas fa-plus"></i></button>
            </div>
          </div>
        <%end%>

      </div>

      <div class="form-group col-6 d-flex">

        <% if variant.stock == 0 %>
          <div class="row d-flex justify-content-center">
            <div>
              <%= form_for Wishlist.new do |f| %>
                <%= f.hidden_field :variant_id, :value => variant.id %>
                <button type="button" class="btn btn-primary btn-block rounded-pill atc-demo">
                  <i class="far fa-heart"></i> Ajouter à la wishlist
                  </button>
              <% end %>
            </div>
          </div>

        <%else%>
          <div class="row d-flex justify-content-center">
          <div class="mb-3">
            <%= form_for Wishlist.new do |f| %>
              <%= f.hidden_field :variant_id, :value => variant.id %>
              <button type="button" class="btn btn-primary btn-block rounded-pill atc-demo">
                <i class="far fa-heart"></i> Ajouter à la wishlist
              </button>
            <% end %>
          </div>
            <div class="mb-3">
              <%= form_for Cart.new do |f| %>
                <%= f.hidden_field :variant_id, :value => variant.id %>
                <button type="button" class="btn btn-primary btn-block rounded-pill atc-demo">Ajouter au panier</button>
              <% end %>
            </div>
          </div>
        <%end%>
      </div>
        
    </div>
  </form>
</div>



<script>
$(function () {

  App.rating()
  App.atcDemo()
  App.atwDemo()
  App.colorOption()

  setTimeout(function (argument) {
    var productSlider = new Swiper('#product-slider', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    })
  }, 100)

  // Collect items for photoswipe
  var items = []
  $('.swiper-wrapper img').each(function () {
    items.push({
      src: $(this).data('large'),
      w: 1395,
      h: 1500
    })
  })

  var openPhotoSwipe = function (items, activeIndex) {
    activeIndex = typeof activeIndex !== 'undefined' ? activeIndex : 0
    var pswpElement = document.querySelectorAll('.pswp')[0]
    var options = {
      index: activeIndex
    }
    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options)
    gallery.init()
  }

  $('.zoom').click(function () {
    openPhotoSwipe(items, $('.swiper-wrapper').find('.swiper-slide-active').data('swiper-slide-index'))
  })

})
</script>