<div class="accordion accordion-caret accordion-sidebar d-none d-md-block">
  <div class="card">
    <div class="card-header">
      <a href="#filter-categories" data-toggle="collapse" aria-expanded="true" aria-controls="filter-categories" role="button" class="h6">
        CATEGORIES
      </a>
    </div>
    <div id="filter-categories" class="collapse show">
      <div class="card-body">
        <ul class="list-tree">
          <li>
            <a href="#"> Nos catégories <small class="counter">(<%= Item.all.length %>)</small></a>
            <ul>
              <% Category.all.each do |element|%>
              <li>
                  <%= link_to variants_path(:category => element.name), method: "get"  do %>
                    <%= element.name %> <small class="counter">(<%= Item.where(category_id: element.id).length %>)</small>
                  <% end %>
              </li>
              <%end%>
            </ul>
          </li>
         </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a href="#filter-price" data-toggle="collapse" aria-expanded="true" aria-controls="filter-price" role="button" class="h6">
        PRIX
      </a>
    </div>
    <div id="filter-price" class="collapse show">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <%= render 'searches/research' %>
        </div>
        <div id="price-slider"></div>
      </div>
    </div>
  </div>
  <% if not Option.all.empty? %>
    <% Option.all.each do |_option| %>
      <div class="card">
        <div class="card-header">
          <a href="#filter-<%= _option.name %>" data-toggle="collapse" aria-expanded="true" aria-controls="filter-<%= _option.name %>" role="button" class="h6">
            <%= _option.name.upcase %>
          </a>
        </div>
        <div id="filter-<%= _option.name %>" class="collapse show">
          <div class="card-body">
            <ul class="list-tree">
              <li>
                <ul>
                  <% OptionValue.where(option_id: _option.id).each do |value| %>
                    <li>
                      <%= link_to variants_path(_option.name.downcase => value.name), method: "get"  do %>
                        <%= value.name %> <small class="counter">(<%= Variant.where(id: OptionAssociation.where(option_value_id: OptionValue.find(value.id))).length %>)</small>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>