<div class="accordion accordion-caret accordion-sidebar d-none d-md-block">
  <div class="card">
    <div class="card-header">
      <%= link_to "CATEGORIES", "#filter-categories", :class => "h6", :data => {:toggle => "collapse"}, :role =>'button', :aria => {:controls => "filter-price", :expanded => "true"} %>
    </div>
    <div id="filter-categories" class="collapse show">
      <div class="card-body">
        <ul class="list-tree">
          <li>
            <%= link_to variants_path do %>
               Nos catégories <small class="counter">(<%= Variant.all.length %>)</small>
            <% end %>
            <ul>
              <% Category.all.each do |element|%>
              <li>
                <%= link_to variants_path(:category => element.name), method: "get"  do %>
                  <%= element.name %> <small class="counter">(<%= Variant.where(item_id: Item.where(category_id: element.id)).length %>)</small>
                <% end %>
              </li>
              <%end%>
            </ul>
          </li>
         </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <%= link_to "PRIX", "#filter-price", :class => "h6", :data => {:toggle => "collapse"}, :role =>'button', :aria => {:controls => "filter-price", :expanded => "true"} %>
    </div>
    <div id="filter-price" class="collapse show">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <%= render 'searches/research' %>
        </div>
        <div id="price-slider"></div>
      </div>
    </div>
  </div>
  <% if not Option.all.empty? %>
    <% Option.all.each do |_option| %>
      <div class="card">
        <div class="card-header">
          <%= link_to _option.name.upcase, "#filter-#{_option.name}", :class => "h6", :data => {:toggle => "collapse"}, :role =>'button', :aria => {:controls => "filter-price", :expanded => "false"} %>
        </div>
        <div id="filter-<%= _option.name %>" class="collapse show">
          <div class="card-body">
            <ul class="list-tree">
              <li>
                <%= link_to variants_path do %>
                   Nos catégories <small class="counter">(<%= Variant.all.length %>)</small>
                <% end %>
                <ul>
                  <% OptionValue.where(option_id: _option.id).each do |value| %>
                    <li>
                      <%= link_to variants_path(_option.name.downcase => value.name), method: "get"  do %>
                        <%= value.name %> <small class="counter">(<%= Variant.where(id: OptionAssociation.where(option_value_id: OptionValue.find(value.id))).length %>)</small>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>