<!-- Main Content -->
<div class="container mt-3 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <%= render 'oneVariant', variant: @variant, item: Item.find(@variant.item_id)  %>
      </div>
    </div>
    <div class="card-header bg-white border-bottom flex-center p-0 mt-3">
      <ul class="nav nav-pills card-header-pills main-nav-pills" role="tablist">
        <li class="nav-item">
          <%= link_to "DESCRIPTION", "#description-content", id: "description", :class => "nav-link active", :data => {:toggle => "tab"}, :role =>'tab', :aria => {:controls => "description-content", :selected => "true"} %>
        </li>
        <li class="nav-item">
          <%= link_to "REVIEWS (#{@reviews.size})", "#review-content", id: "reviews", :class => "nav-link", :data => {:toggle => "tab"}, :role =>'tab', :aria => {:controls => "review-content", :selected => "false"} %>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="card-body tab-pane fade show active" id="description-content" role="tabpanel" aria-labelledby="description">
        <p>hoodie à capuche, agrémenté du logo saint laurent et d'une poche kangourou.
Ce produit est destiné aussi bien aux femmes qu'aux hommes, mais de coupe masculine. Nous recommandons donc aux femmes de choisir des petites tailles.</p>
        <p>orné de studs étoiles, d'une fermeture asymétrique et de deux poches à boutons pressions.</p>
        <ul>
          <li>50% Cotton, 50% Polyester, 100% Cool</li>
          <li>Importation.</li>
          <li>Lavage Machine.</li>
          <li>S'adapte au motards et aux agriculteurs.</li>
          <li>Resiste a toute temperatures.</li>
          <li>Plus fin qu'un cheveu moyen.</li>
        </ul>
      </div>
      <div class="card-body tab-pane fade" id="review-content" role="tabpanel" aria-labelledby="reviews">
        <div class="row gutters-3 justify-content-center">
          <div class="col-11 col-sm-6 col-md-4 col-lg-3">
            <h5 class="bold roboto-condensed rating">
              OVERALL RATING: <%= Review.where(item_id: @variant.item_id).map(&:rating).instance_eval { reduce(:+) / size.to_f } %>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 32 32"><title>star-full</title><path d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path></svg>
            </h5>
            <div class="list-group">
              <div class="list-group-item text-muted d-flex justify-content-between">
                <span class="rating" data-value="5"></span>
                <span><%= Review.where(item_id:(@variant.item_id), rating:5).size %> review <i data-feather="chevron-right"></i></span>
              </div>
              <div class="list-group-item text-muted d-flex justify-content-between">
                <span class="rating" data-value="4"></span> <span><%= Review.where(item_id:(@variant.item_id), rating:4).size %> review <i data-feather="chevron-right"></i></span>
              </div>
              <div class="list-group-item text-muted d-flex justify-content-between">
                <span class="rating" data-value="3"></span> <span><%= Review.where(item_id:(@variant.item_id), rating:3).size %> review <i data-feather="chevron-right"></i></span>
              </div>
              <div class="list-group-item text-muted d-flex justify-content-between">
                <span class="rating" data-value="2"></span> <span><%= Review.where(item_id:(@variant.item_id), rating:2).size %> review <i data-feather="chevron-right"></i></span>
              </div>
              <div class="list-group-item text-muted d-flex justify-content-between">
                <span class="rating" data-value="1"></span> <span><%= Review.where(item_id:(@variant.item_id), rating:1).size %> review <i data-feather="chevron-right"></i></span>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-9 mt-5 mt-md-0">
            <% @reviews.each do |review| %>
              <div class="media">
                <% if User.find(review.user_id).avatar.attached?%>
                  <%= image_tag User.find(review.user_id).avatar, alt: User.find(review.user_id).fullname, :class => "rounded-circle", :style => "width:45px;height:45px;" %>
                <% elsif User.find(review.user_id).gender == "Male" %>
                  <%= image_tag ("mister.jpg"), alt: User.find(review.user_id).fullname, :class => "rounded-circle", :style => "width:45px;height:45px;" %>
                <% else %>
                  <%= image_tag ("miss.jpg"), alt: User.find(review.user_id).fullname, :class => "rounded-circle", :style => "width:45px;height:45px;" %>
                <% end %>
                <div class="media-body ml-2 ml-sm-3">
                  <h6 class="bold"><%= review.title %></h6>
                  <p class="d-flex flex-wrap">
                    <span class="rating" data-value="<%= review.rating %>"></span>
                    <div class="mr-2">Soumis par :&nbsp;<b><%= User.find(review.user_id).fullname %></b></div>
                    <span class="text-muted"><%= review.created_at.strftime(" %d of %B %Y") %></span>
                  </p>
                  <p><%= review.content %></p>
                  <hr>
                </div>
         		 </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

$(function () {

  App.rating()
  App.atcDemo()
  App.atwDemo()
  App.colorOption()

  setTimeout(function (argument) {
    var productSlider = new Swiper('#product-slider', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    })
  }, 100)

  // Collect items for photoswipe
  var items = []
  $('.swiper-wrapper img').each(function () {
    items.push({
      src: $(this).data('large'),
      w: 1395,
      h: 1500
    })
  })

  var openPhotoSwipe = function (items, activeIndex) {
    activeIndex = typeof activeIndex !== 'undefined' ? activeIndex : 0
    var pswpElement = document.querySelectorAll('.pswp')[0]
    var options = {
      index: activeIndex
    }
    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options)
    gallery.init()
  }

  $('.zoom').click(function () {
    openPhotoSwipe(items, $('.swiper-wrapper').find('.swiper-slide-active').data('swiper-slide-index'))
  })

})

</script>
