<div class="card card-blog">
  <%= link_to post_path(post.id), class: "zoom-hover" do %>
    <% if post.image_post.attached? %>
      <%= image_tag(post.image_post, alt: post.title, :height => '290') %>
    <% else %>
      <% $pix = ["https://image.noelshack.com/fichiers/2019/12/5/1553285219-clogs-968486-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-craft-920393-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-pottery-3023901-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-yarn-1325766-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-clogs-968486-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-sew-3490492-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-pitcher-2320354-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-china-1515579-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-shell-921124-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-embroidery-3524900-960-720.jpg"]%>
      <%= image_tag($pix.sample, :size => '440x290') %>
    <% end %>
  <% end %>
  <div class="card-body">
    <%= link_to elements.title, post_path(post.id), class: "title h4" %>
    <span><%= elements.content[0..25] %>...</span>
  </div>
    <div class="card-footer flex-center">
      <div class="small text-muted counter">
        <i class="far fa-heart"></i> 55
        <i class="far fa-comment-dots ml-3"></i> 15
      </div>
      <%= link_to "> Read more", post_path(post.id), class: "bold" %>
    </div>
</div>

