<!-- Main Content -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      
      <!-- Blog Toolbar -->
      <div class="card">
        <div class="card-body d-flex justify-content-end align-items-center py-2">
          <span class="mr-auto bold">Derniers articles</span>
          <div class="dropdown dropdown-hover">
            <button class="btn btn-light btn-sm border rounded-pill dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ordre <i class="fas fa-chevron-down"></i></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right shadow-sm">
              <button class="dropdown-item" type="button">Nouveaux</button>
              <button class="dropdown-item" type="button">Anciens</button>
            </div>
          </div>
          <%= link_to "javascript:void(0)", class: "btn btn-icon rounded-pill btn-sm btn-primary ml-3 post_grid_layout", :data => {:toggle => "tooltip"} do %>
            <i class="fas fa-th-large"></i>
          <% end %>
          <%= link_to "javascript:void(0)", class: "btn btn-icon rounded-pill btn-sm btn-outline-primary ml-1 post_list_layout", :data => {:toggle => "tooltip"} do %>
            <i class="fas fa-th-list"></i>
          <% end %>
        </div>
      </div>
      <!-- /Blog Toolbar -->
      
      <!-- Blog Grid -->
      <div class="card-deck card-deck-2-columns mt-3" id="grid-layout">
        <% @posts.order("created_at DESC").each do |grElements|%>
         <%=render 'gridPost', elements: grElements, post: Post.find(grElements.id) %>
        <% end %>
      </div>           
      <!-- /Blog Grid -->
      
      <!-- Blog List -->
      <div id="list-layout" hidden>
        <% @posts.order("created_at DESC").each do |liElements|%>
          <%= render 'listPost', elements: liElements, post: Post.find(liElements.id)%>
        <% end %>
      </div>

      <!-- /Blog List -->
      
      <!-- Pagination -->
        <div class="d-flex justify-content-center">
          <%= paginate @posts, window: 2 %>
        </div>
      <!-- /Pagination -->
    </div>

    <!-- Blog Sidebar -->
    <div class="col-md-4 col-lg-4 mt-3 mt-md-0">
      <div class="card">
        <div class="card-header bg-white border-bottom bold roboto-condensed">
          <h5 class="bold mb-0">LES PLUS <span class="text-primary">COMMENTÉS</span></h5>
        </div>
        <!--RenderSideBar-->
          <% i = 0 %>
            <% while i < 2 do %>
              <%= render 'postSideBar' %>
            <% i += 1 %>
          <% end %>
        <!--/RenderSideBar-->
    </div>
      <div class="card mt-3">
        <div class="card-header bg-white border-bottom bold roboto-condensed">
          <h5 class="bold mb-0">TAG <span class="text-primary">POPULAIRES</span></h5>
        </div>
        <div class="card-body">
          <div class="btn-group-scatter">
            <!--RenderPopularTags-->
              <%= render 'popularTags' %>
            <!--/RenderPopularTags-->
          </div>
        </div>
      </div>
    </div>
    <!-- /Blog Sidebar -->

  </div>
</div>
<!-- /Main Content -->