<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<p id="notice" class="text-success container"><%= notice %></p>

<div class="container mb-3">
<%= link_to 'Go back', posts_path, class: "btn btn-warning" %>
</div>
<div class="container">
  <h1>Editing Post</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th colspan="3"></th>
        <th><%= link_to 'Nouveau Post', new_post_path, class: "btn btn-success align-middle mr-3" %></th>
      </tr>
    </thead>
    <tbody>

      <% @posts.each do |post| %>
        <tr>
          <td class="align-middle"><%= post.title %></td>
          <td class="align-middle"><%= post.content[0..30] %>...</td>
          <td><%= link_to 'Show', post, class: "btn btn-primary" %></td>
          <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Etes-vous sûr?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <div class="row mb-3">
    <%= link_to "Déconnexion", destroy_user_session_path, :class => "btn btn-style-6 btn-danger align-middle", :data => {:method => "delete"} %>
  </div>
</div>