<!-- Main Content -->
<div class="container my-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body" lang="zxx">
          <!-- Blog Info -->
          <ul class="list-inline">
            <li class="list-inline-item"><small><i class="fas fa-clock"></i> Jan 01, 18</small></li>
            <li class="list-inline-item"><small><i class="fas fa-user"></i><%= link_to "Admin", "javascript:void(0)", class: "text-muted" %></small></li>
            <li class="list-inline-item"><small><i class="fas fa-tag"></i><%= link_to "Fashion", "javascript:void(0)", class: "text-muted" %></small></li>
          </ul>

          <!-- Blog Content -->
          <h2 class="bold"><%= @post.title %></h2>
          
          <% if @post.image_post.attached? %>
            <%= image_tag(@post.image_post, alt: @post.title, :class => 'img-fluid my-3') %>
          <% else %>
            <% $pix = ["https://image.noelshack.com/fichiers/2019/12/5/1553285219-clogs-968486-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-craft-920393-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-pottery-3023901-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-yarn-1325766-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-clogs-968486-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-sew-3490492-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-pitcher-2320354-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-china-1515579-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-shell-921124-960-720.jpg", "https://image.noelshack.com/fichiers/2019/12/5/1553285219-embroidery-3524900-960-720.jpg"]%>
            <%= image_tag($pix.sample, :class => 'img-fluid my-3') %>
          <% end %>

          <%= @post.content %>
          <!-- /Blog Content -->

          <hr>

          <!-- Blog Comments -->
          <h3>Comments</h3>
          <%= render 'postsComments' %>
          <!-- /Blog Comments -->
        </div>
      </div>
    </div>

      <!-- Blog Sidebar -->
      <div class="col-md-4 col-lg-4 mt-3 mt-md-0">
        <div class="card">
          <div class="card-header bg-white border-bottom bold roboto-condensed">
            <h5 class="bold mb-0">LES PLUS <span class="text-primary">COMMENTÉS</span></h5>
          </div>
          <!--RenderSideBar-->
          <% i = 0 %>
            <% while i < 2 do %>
              <%= render 'postSideBar' %>
            <% i += 1 %>
          <% end %>
          <!--/RenderSideBar-->

        <div class="card mt-3">
          <div class="card-header bg-white border-bottom bold roboto-condensed">
            <h5 class="bold mb-0">TAG <span class="text-primary">POPULAIRES</span></h5>
          </div>
          <div class="card-body">
            <div class="btn-group-scatter">
              <!--RenderPopularTags-->
                <%= render 'popularTags' %>
              <!--/RenderPopularTags-->

            </div>
          </div>
        </div>
      </div>
      <!-- /Blog Sidebar -->
    </div>
  </div>
</div>
<!-- /Main Content -->