
    <!-- Main Content -->
    <div class="container my-3">
      <div class="row">
        <div class="col mt-3 mt-md-0">
          <div class="card">
            <div class="card-body">
              <h3>Ma Wishlist</h3><hr>
              <% @wishlists.each do |wishlist| %>
                <div class="card card-product card-product-list shadow-none border-bottom">
                  <%= link_to image_tag("item.jpg", :class => "card-img-top"), variant_path(Variant.find(wishlist.variant_id).id) %>
                    <div class="card-body d-flex flex-column justify-content-center">
                      <div class="row d-flex justify-content-between">
                        <%= link_to Variant.find(wishlist.variant_id).title, variant_path(Variant.find(wishlist.variant_id).id), class: "card-title col-11" %>
                        <%= link_to wishlist, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "btn btn-icon rounded-circle col-1" do %>
                          <i class="fas fa-times"></i>
                        <% end %>
                      </div> 
                      <div class="attr">
                        <div class="price mr-3"><span class="h5">$<%= Variant.find(wishlist.variant_id).price %></span></div>
                        <% if wishlist.variant.stock == 0 %>
                          <div><span class="text-danger"><i class="fas fa-times-circle"></i></span> Indisponible</div> 
                        <% else %>
                          <div><span class="text-success"><i class="fas fa-check-circle"></i></span> Disponible </div>
                        <% end %>
                      </div>
                      <p class="d-flex justify-content-between align-items-center">
                      
                        <% if wishlist.variant.stock != 0 %>
                          <div class="ml-3">
                            <%= form_for Cart.new do |f| %>
                              <%= f.hidden_field :variant_id, :value => wishlist.variant.id %>
                              <%= f.hidden_field :user_id, :value => current_user.id %>
                              <%= button_tag(class: "btn rounded-pill btn-outline-primary atc-demo") do %>
                                <i class="fas fa-cart-plus"></i>
                              <% end %>
                            <% end %>
                          </div>
                      <% end %>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Main Content -->
