<p id="notice"><%= notice %></p>

<h1>Wishlists</h1>

<table>
  <thead>
    <tr>
      <th>Utilisateur</th>
      <th>Variante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wishlists.each do |wishlist| %>
      <tr>
        <td><%= wishlist.user %></td>
        <td><%= wishlist.variant %></td>
        <td><%= link_to 'Détail', wishlist %></td>
        <td><%= link_to 'Modifier', edit_wishlist_path(wishlist) %></td>
        <td><%= link_to 'Supprimer', wishlist, method: :delete, data: { confirm: 'Etes-vous sur ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle Wishlist', new_wishlist_path %>
