<p id="notice"><%= notice %></p>

<p>
  <strong>Utilisateur:</strong>
  <%= @wishlist.user %>
</p>

<p>
  <strong>Variante:</strong>
  <%= @wishlist.variant %>
</p>

<%= link_to 'Détail', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Retour', wishlists_path %>
