<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> a empeché cette review d'être sauvegardée:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :contenu %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :id_produit %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :id_utilisateur %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.number_field :rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
