<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>Produit:</strong>
  <%= @review.item %>
</p>

<p>
  <strong>Utilisateur:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Note:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Modifier', edit_review_path(@review) %> |
<%= link_to 'Retour', reviews_path %>
