<!-- Footer -->
  <div class="footer w-100 collapse">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-sm-6 col-lg-4 text-center px-3 mb-5">
          <h5 class="bold">SOUSCRIRE</h5>
          <p>et profitez <strong class="text-primary">10% de réduction</strong></p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control rounded-pill text-center" placeholder="Saisissez votre email">
            </div>
            <button type="button" class="btn btn-primary btn-block rounded-pill">Souscrire</button>
          </form>
        </div>
        <div class="col-6 col-lg-2 d-none d-sm-block">
        </div>
        <div class="col-6 col-lg-3 d-none d-sm-block">
          <h6 class="bold">Service client</h6>
          <div class="list-group list-group-flush list-group-no-border list-group-sm">
            <%= link_to "Aide", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
            <%= link_to "Comment acheter ?", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
            <%= link_to "Livraison", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
            <%= link_to "Retourner un article ?", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
            <%= link_to "Méthodes de paiement", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
            <%= link_to "Modalités de livraison", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
          </div>
        </div>
        <div class="col-6 col-lg-3 d-none d-sm-block">
          <h6 class="bold">Nativea</h6>
          <div class="list-group list-group-flush list-group-no-border list-group-sm">
            <%= link_to "A propos", a_propos_path, class: "list-group-item list-group-item-action" %>
            <%= link_to "Termes et Conditions", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
            <%= link_to "Politique de confidentialité", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
            <%= link_to "FAQ", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
            <%= link_to "Notre histoire", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
            <%= link_to "Services", "javascript:void(0)", class: "list-group-item list-group-item-action" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright pt-3 fixed-bottom">
    <div>Copyright © 2019 Nativea - All right reserved</div>
    <div>Réalisé avec <i class="fas fa-heart"></i> par les kittens</div>
  </div>

<!-- /Footer -->