<!-- Top bar -->
<div class="topbar">
  <div class="container d-flex">

    <!-- User dropdown -->
    <ul class="nav ml-auto">
      <li class="nav-item dropdown dropdown-hover">
        <% if user_signed_in? %>
          <%= link_to "my_profile_path", :class => "nav-link dropdown-toggle pr-0", :data => {:toggle => "dropdown"}, :role =>'button', :aria => {:haspopup => "true", :expanded => "false"} do %>
            <i class="fas fa-user"></i> Bonjour <%= current_user.firstname %>  <i class="fas fa-chevron-down"></i>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="media p-2 align-items-center mb-2">
              <div class="mr-2 size50x50">
                <% if current_user.avatar.attached? %>
                  <%= image_tag current_user.avatar, alt: current_user.fullname, :class => "img-thumbnail rounded-circle" %>
                <% elsif current_user.gender == "Homme" %>
                  <%= image_tag ("mister.jpg"), alt: current_user.fullname, :class => "img-thumbnail rounded-circle" %>
                <% else %>
                  <%= image_tag ("miss.jpg"), alt: current_user.fullname, :class => "img-thumbnail rounded-circle" %>
                <% end %>
              </div>
              <div class="media-body">
                <strong><%= current_user.fullname %></strong>
                <div class="small"><%= current_user.email%></div>
              </div>
            </div>
            <%= link_to carts_path, :class => "dropdown-item has-icon has-badge" do %>
              <i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Panier <span class="badge rounded badge-primary">2</span>
            <% end %>  
            <%= link_to wishlists_path, :class => "dropdown-item has-icon has-badge" do %>
              <i class="fas fa-heart"></i>&nbsp;&nbsp;Wishlist <span class="badge rounded badge-primary">2</span>
            <% end %>      
            <%= link_to my_profile_path, :class => "dropdown-item has-icon" do %>
              <i class="fas fa-cogs"></i>&nbsp;&nbsp;Mon Compte
            <% end %>    
            <div class="dropdown-divider"></div>
            <%= link_to destroy_user_session_path, :class => "dropdown-item has-icon text-danger", :data => {:method => "delete"}, :role =>'tab' do %>
              <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Déconnexion</a>
            <% end %> 
          </div>
        <% else %>
          <%= link_to "javascript:void(0)", :class => "nav-link dropdown-toggle pr-0", :data => {:toggle => "dropdown"}, :role =>'button', :aria => {:haspopup => "true", :expanded => "false"} do %>
            <i class="fas fa-user"></i> Bonjour visiteur  <i class="fas fa-chevron-down"></i>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="media p-2 align-items-center mb-2">
              <div class="media-body">
                <%= link_to "Connexion", new_user_session_path, class: "btn btn-primary btn-sm btn-block" %>
                <p class="text-sm text-muted mt-3 mb-0"><%= link_to "Créer un compte", new_user_registration_path %></p>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    </ul>
    <!-- /User dropdown -->
  </div>
</div>
<!-- /Top bar -->

<!--Header -->
<header>
  <div class="container">

  <!-- Sidebar toggler -->
  <%= link_to "javascript:void(0)", :class => "nav-link nav-icon ml-ni nav-toggler mr-3 d-flex d-lg-none", :data => {:toggle => "modal", :target => "#menuModal"} do %>
    <i class="fas fa-bars"></i>
  <% end %>

    <!-- Logo -->
    <%= link_to variants_path, class: "nav-link nav-logo" do %>
      <strong>NATIVEA</strong>
    <% end %>

    <!-- Main navigation -->
    <ul class="nav nav-main ml-auto d-none d-lg-flex"> <!-- hidden on md -->
      <li class="nav-item"><%= link_to "Accueil", root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Magasin", variants_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Blog", posts_path, class: "nav-link" %></li>
      <li class="nav-item dropdown dropdown-hover">
        <%= link_to my_profile_path, :class => "nav-link dropdown-toggle forwardable", :data => {:toggle => "dropdown"}, :role =>'button', :aria => {:haspopup => "true", :expanded => "false"} do %>
          Mon Compte <i class="fas fa-chevron-down"></i>
        <% end %>
        <div class="dropdown-menu">        
          <% if user_signed_in? %>
            <%= link_to "Profil", my_profile_path, class: "dropdown-item" %>
            <%= link_to "Panier", carts_path, class: "dropdown-item" %>
            <%= link_to "Wishlist", wishlists_path, class: "dropdown-item" %>
            <%= link_to "Déconnexion", destroy_user_session_path, :class => "dropdown-item text-danger", :data => {:method => "delete"} %>
          <% else %>
            <%= link_to "Créer un compte", new_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Connexion", new_user_session_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
    <!-- /Main navigation -->

    <!-- Search form -->
    <form class="form-inline form-search ml-auto mr-0 mr-sm-1 d-none d-sm-flex">
      <div class="input-group input-group-search">
        <div class="input-group-prepend">
          <button class="btn btn-light d-flex d-sm-none search-toggle" type="button"><i data-feather="chevron-left"></i></button>
        </div>
          <%= form_tag variants_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], class: "form-control border-0 bg-light input-search", placeholder: "Search..." %>
            <%= button_tag(type: "submit", class: "btn btn-light") do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
      </div>
    </form>
      
    <% if user_signed_in? %>
      <%
        carts = Cart.where(user_id: current_user.id).where(order_id: nil).order(:id)
        carts.empty? ? countCart = 0 : countCart = carts.size 
        amount = carts.map(&:total_per_item).instance_eval { reduce(:+) }
      %>
      <ul class="nav ml-auto ml-sm-0">
        <!-- Cart dropdown -->
        <li class="nav-item dropdown dropdown-hover dropdown-cart">
          <%= link_to carts_path, :class => "nav-link nav-icon mr-nis dropdown-toggle forwardable ml-2", :data => {:toggle => "dropdown"}, :role =>'button', :aria => {:haspopup => "true", :expanded => "false"} do %>
            <i class="fas fa-shopping-cart"></i>
            <span class="badge badge-primary"><%= countCart %></span>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right">
            <% if countCart != 0 %>
              <% carts.each do |cart_item| %>
                <div class="media">
                  <%
                    variant = Variant.find(cart_item.variant_id)
                    item = Item.find(variant.item_id)
                  %>
                  <%= link_to variant_path(variant.id) do %>
                    <%= image_tag "item.jpg", alt: variant.title, width: "50", height: "50"  %>
                  <% end %>
                  <div class="media-body">
                    <%= link_to variant.title, variant_path(variant.id), title: variant.title %>
                    <span class="qty"><%= cart_item.quantity %></span> x <span class="price">€ <%= variant.price %></span>
                    <%= link_to cart_path(cart_item.id), :class => "close", :data => {:confirm => "Etes-vous sûr ?", :method => "delete"}, :rel => "nofollow" do %>
                      <span class="remove-product"><i class="far fa-times-circle"></i></span>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="d-flex justify-content-between pb-3 pt-2">
                <span>Total</span>
                <strong>€ <%= sprintf( "%0.02f", amount) %></strong>
              </div>
              <div class="d-flex justify-content-between pb-2">
                <div class="w-100 mr-1">
                  <%= link_to "Consulter le Panier / Payer", carts_path, class: "btn btn-block rounded-pill btn-primary" %>
                </div>
              </div>
            <% else %>
              No item in the cart
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</header>
<!-- /Header -->