<!--Menu Modal -->
  <div class="modal modal-left modal-menu" id="menuModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header shadow">
          <%= link_to variants_path, class: "h5 mb-0 d-flex align-items-center" do %>
            <strong>NATIVEA</strong>
          <% end %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body shadow">
          <ul class="menu" id="menu">
            <li class="no-sub">
              <%= link_to root_path do %>
                <i class="fas fa-home"></i> Accueil
              <% end %>
            </li>
            <li>
              <%= link_to variants_path do %>
                <i class="fas fa-store"></i> Magasin
              <% end %>
            </li>
            <li>
              <%= link_to posts_path do %>
                <i class="fas fa-pen-square"></i> Blog
              <% end %>
            </li>
            <li>
              <%= link_to "javascript:void(0)", :class => "has-arrow" do %>
                <i class="fas fa-user"></i> Mon Compte
              <% end %>
              <ul>
                <% if user_signed_in? %>
                  <li>
                    <%= link_to mon_profil_path, class: "dropdown-item" do %>
                      <i class="fas fa-cogs"></i> Profil
                    <% end %>
                  </li>
                  <li>
                    <%= link_to carts_path, class: "dropdown-item" do %>
                      <i class="fas fa-shopping-cart"></i> Panier
                    <% end %>
                  </li>
                  <li>
                    <%= link_to wishlists_path, class: "dropdown-item" do %>
                      <i class="fas fa-heart"></i> Wishlist
                    <% end %>
                  </li>
                  <li><%= link_to "Déconnexion", destroy_user_session_path, :class => "dropdown-item text-danger", :data => {:method => "delete"} %></li>
                <% else %>
                  <li><%= link_to "Créer un compte", new_user_registration_path %></li>
                  <li><%= link_to "Connexion", new_user_session_path %></li>
                <% end %>
              </ul>
            </li>
            <% if user_signed_in? && RoleAssignation.find_by_user_id(current_user.id).role_id > 2 %>
              <li class="nav-item dropdown dropdown-hover">
                <%= link_to "javascript:void(0)", :class => "has-arrow" do %>
                  Dashboard
                <% end %>
                <ul>
                  <% if RoleAssignation.find_by_user_id(current_user.id).role_id == 4 or RoleAssignation.find_by_user_id(current_user.id).role_id == 8 %>
                    <li><%= link_to "Créer un Variant", new_variant_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Liste des Options", options_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Créer une Option", new_option_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Liste des OptionValue", option_values_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Créer une OptionValue", new_option_value_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Liste des OptionAssociation", option_associations_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Créer une OptionAssociation", new_option_association_path, class: "dropdown-item" %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /Menu Modal -->